<!DOCTYPE html>
<html>
<head>
    <title>i18n in Slim Framework using Twig and Symfony Translate</title>
    <meta charset="utf-8">
</head>
<body>
<h1>i18n with Slim Framework, Twig and Symfony Translate</h1>

<p>{{ "welcome"|trans }}</p>

<p>{{ "random"|trans }}</p>

<h1>Pick a language:</h1>
<ul>
    <li><a href="?lang=en_US">English</a></li>
    <li><a href="?lang=no_NB">Norwegian</a></li>
</ul>


</body>
</html>


